body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
body p{
    font-size: 16px;
    color: #3E3E3E;
}
/* Nav Start */
 
ul{
    width: auto;
    margin-left: 50%;
    margin-top: 8px;
    margin-right: 10%;
    
    
}
li{
    display: inline-block;
    padding: 15px 30px;
    
    
}
.nav-ancor{
    text-align: center;
    color:#3C3C3C;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    
}
.nav-ancor:hover{
    color: #FF8367;
    transition: 0.5s;
}
/* Nav End */

.link-button{
    color: white;
    margin-top: 200px;
    background-image: linear-gradient(180deg,#FF8063, #D7F460);
    font-weight: 600;
    text-decoration: none;
    background-color: orangered;
    padding: 20px 35px;
    border-radius: 5px;
}
.link-button:hover {
    background-image: linear-gradient(#B4FEE7,#603F8B);
}
#up-button{
    margin-bottom: 60px;
}

/*first block css*/

/*text block css*/
.half-width{
    width: 27%;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 200px;
    float: left;
    
}
#first-block{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin-bottom: 5px;
    line-height: 1.0;
}
#blue{
    color: #363958;
    font-weight: 500;
}
#orrange{
    color: #FF8367;
    font-weight: 500;

}
/*image block css*/
.half-weidth2{
    margin-top: -50px;
    width: 40%;
    display: inline-block;
    }
.half-weidth2 img{
    width: 100%;
}
/*image block css*/
.half-weidth3{
    margin-top: -150px;
    margin-right: 200px;
    width: 40%;
    float: left;
}
.half-weidth3 img{
    width: 100%;
}
/*text block css*/
#about{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-bottom: 5px;
}
.half-width4{
    width: 20%;
    padding-left: 8%;
    margin-right: 200px;
    display: inline-block;
    
}
.link-button2{
    color: white;
    margin-top: 200px;
    background-image: linear-gradient(180deg,#FF8063, #D7F460);
    font-weight: 600;
    text-decoration: none;
    background-color: orangered;
    padding: 20px 35px;
    border-radius: 5px;
}
.link-button2:hover {
    background-image: linear-gradient(#B4FEE7,#603F8B);
}

/*For latest project area */

.latest-project{
    background-color: #f8f9fc;
    margin-top: 300px;
    padding: 150px;
}
.project-box{
    background-image: linear-gradient(180deg,#FF8063, #D7F460);
    background-color: white;
    width: 350px;
    height: 370px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 50px;
    box-shadow: 10px 10px 40px gray;
}
.project-box:hover{
    border-bottom: 5px solid;
    background-image: linear-gradient(#603F8B,#B4FEE7);
    border-image-slice: 1;
    transition: .5s;
}
.project-box img{
    margin: 5%;
    width: 90%;
    margin-bottom: 3px;
    border-radius: 10px;
}
.project-box h1{
    padding-left:5% ;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
}
.project-box p{
    padding-left: 5%;
    text-align: left;
}

#project-header{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

/*For work inquiry area */
.work-inquiry{
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 215px;
    width: 70%;
    padding: 20px;

}
.work-inquiry h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    font-weight: 500;
    margin-top: 55px;
    margin-left: 50px;
    float: left;
}
#work-area{
    padding: 50px;
}
.link-button3{
    color: white;
    display: inline-block;
    margin-top: 60px;
    margin-left: 40%;
    background-image: linear-gradient(180deg,#FF8063, #D7F460);
    font-weight: 600;
    text-decoration: none;
    background-color: orangered;
    padding: 20px 35px;
    border-radius: 5px;
}
.link-button3:hover {
    background-image: linear-gradient(#B4FEE7,#603F8B);
}

/*For progress bar section */
#progress-bar{
    background-color: #f8f9fc;
}
/*For progress bar left area */

#progress-bar-left{
    padding-left: 200px;
    padding-top: 7%;
    width: 40%;
    float: left;
}
.link-button4{
    color: white;
    display: inline-block;
    background-image: linear-gradient(180deg,#FF8063, #D7F460);
    font-weight: 600;
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 5px;
}
.link-button4:hover {
    background-image: linear-gradient(#B4FEE7,#603F8B);
}

/*For progress bar right area */

#progress-bar-right{
    padding-left: 4%;
    padding-top: 6%;
    padding-bottom: 4%;
    width: 40%;
    display: inline-block;
}
#progress-bar-right h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    font-weight: 500;
}

.container { 
    background-color: rgb(192, 192, 192); 
    width: 80%; 
        border-radius: 15px; 
} 

.skill { 
    background-image: linear-gradient(180deg,#FF8063, #D7F460);
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
} 
.html { 
    width: 80%;  
} 

.php { 
    width: 60%; 
}
.Javascript { 
    width: 50%; 
}


/*For footer area */

.footer{
    padding-top: 60px;
    margin: 50px;
}
 
.footer h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size: 24px;
    color: #696871;
}
.footer h1{
    font-size: 36px;
    margin-top: -10px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #363958;
    
}
.img{
    margin-top: -15px;
    padding: 13px;
    width: 40px;
    height: 40px;  
}
.img:hover{
    width: 45px;
    height: 45px;
    transition: 1s;
}
